*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Philosopher', sans-serif;
}

h2,h3{
     font-family: 'Raleway', sans-serif;
}

h2{
    font-size: calc(2rem + 2vw);
    text-align: center;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    span{
        color: dodgerblue;
    }
}

h3{
    font-size: calc(1.5rem + 1vw);
    text-transform: uppercase;
    font-weight: 500;
}

// ----------------------------------------- Header
.header{
    background-image: linear-gradient(to right bottom,rgba(243, 136, 220, 0.3),rgba(140, 217, 236, 0.2)), url("https://source.unsplash.com/random/1000x1000");
    ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &__navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: .5rem 2rem;
        // position: fixed;
        width: 100%;
        border-bottom: 1px solid black;
        box-shadow: 0 0 10px 2px black;
        z-index: 10;
        &--logo{
            height: 6rem;
            width: 10rem;
            img{
                width: 100%;
                height: 100%;
            }
        }

        &--list{
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            @media screen and (max-width: 550px) {
                display: none;
                visibility: hidden;
            }
            &__item{
                a{
                    text-decoration: none;
                    color: black;
                    font-size: calc(1rem + 1vw);
                    padding: 1rem;
                    font-family: 'Raleway', sans-serif;
                    font-weight: bolder;
                    letter-spacing: 1.5px;
                }
            }
        }
        &--social{
            font-size: calc(2rem + 1vw);
            i{
                padding: .5rem;
            }
        }

        .menu{
            font-size: 4rem;
            display: none;
            visibility: hidden;
            @media screen and (max-width: 550px) {
                display: block;
                visibility: visible;
                cursor: pointer;
             }
            
        }
    }

    &__content{
        padding: 18rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        color: white;
        &--heading{
            font-size: calc(3rem + 4vw);
            text-transform: uppercase;
            margin-top: 5rem;
            padding: 1rem 0;
            font-family: 'Raleway', sans-serif;
            text-shadow: .2rem .2rem black;
            letter-spacing: 1.2px;
            animation: toLeft 1.5s ease-in-out;

            @media screen and (max-width: 1024px) {
               font-size: calc(3rem + 2vw);  
            }
            @media screen and (max-width: 550px) {
                font-size: calc(2rem + 2vw);  
             }

        }
        &--para{
            font-size: 2rem;  
            text-align: center;
            padding: 1rem 0;
            line-height: 2;
            width: 60%;
            text-shadow: .1rem 0rem black;
            animation: toRight 1.5s ease-in-out;
            @media screen and (max-width: 1024px) {
                font-size: 1.7rem;
                width: 80%;
            }

        }
        &--btn{
            text-decoration: none;
            color: white;
            padding: 1.8rem 3rem;
            border: 1px solid white;
            font-size: 2rem;
            margin-top: 2rem;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            text-shadow: .1rem .1rem black;
            box-shadow: 0 0 1px 1px black;
            animation: toTop 1.5s ease-in-out;
            @media screen and (max-width: 1024px) {
                padding: 1.5rem 3rem;
                font-size: 1.8rem;
             }
            &:hover{
                background-color: white;
                color: transparent;
                border: 1px solid black;
            }
        }
    }
  // ----------------------------------------- KeyFrames 
    @keyframes toLeft {
        0%{
            transform: translateX(-100%);
            opacity: 0;
        }
        50%{
            transform: translateX(25%);
            opacity: 0.8;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes toRight {
        0%{
            transform: translateX(30%);
            opacity: 0;
        }
        50%{
            transform: translateX(-25%);
            opacity: 0.8;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes toTop {
        0%{
            transform: translateY(80%);
            opacity: 0;
        }
        100%{
            transform: translate(0);
            opacity: 1;
        }

    }
}
// --------------------------------------------------- Container
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 7rem 0;
}

// ----------------------------------------- Section About
.section-about{
    padding: 3rem 0 0 0;
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60rem;

        @media screen and (max-width: 1024px) {
            &:last-child{
                padding-top: 5rem;
            }
        }
        @media screen and (max-width: 550px) {
            &:last-child{
                padding-left: 2rem;
            }
        }
        img{
            height: 35rem;
            width: 50rem;
            @media screen and (max-width: 550px) {
                width: 35rem;
                height: 30rem;
            }
        }
        &--heading{
            font-size: calc(2.5rem + 1vw);
            width: 70%;
            align-self: flex-start;
        }
        &--para{
            font-size: calc(1rem + 1vw);
            padding: 2rem 0;
            @media screen and (max-width: 550px) {
                width: 38rem;
                align-self: flex-start;
            }
        }

        &--btn{
            text-decoration: none;
            color: white;
            padding: 1.8rem 3rem;
            background-color: black;
            font-size: 2rem;
            margin-top: 2rem;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            align-self: flex-start;
            @media screen and (max-width: 1024px) {
                padding: 1.5rem 3rem;
                font-size: 1.8rem;
             }
            &:hover{
                background-color: white;
                color: black;
                border: 1px solid black;
            }
        }
    }
}

// ----------------------------------------- Section Services
.section-services{
    padding: 5rem 0;

    &__icon-box{
       text-align: center;
       width: 35rem;
       margin: 5rem 0;
       &:not(:last-child){
           margin-right: 4rem;
           @media screen and (max-width: 550px) {
            //    margin-left: 4rem;
               margin-right: 0;
           }
        }

       i{
           font-size: 3rem;
           padding: 1rem;
           background-color: dodgerblue;
       }

       h3{
        font-size: calc(1.5rem + 1vw);
        text-transform: uppercase;
        align-self: flex-start;
        font-weight: 500;
        margin: 2rem 0;
       }

       p{
           font-size: calc(1rem + 1vw);
        //    width: 90%;
           line-height: 1.3;
       }

    }
}

// ----------------------------------------- Section Features
.section-featured{
    padding: 5rem 0;

    &__title{
        margin: 5rem 0 !important;
    }

    .container{
        padding: 5rem;
    }

    &__image-box{
        box-shadow: 0 0 5px 2px black;
        &:nth-child(1){
            margin-right: 3rem;
            @media screen and (max-width: 1059px) {
                margin-right: .5rem;
            }
        }
        &:nth-child(2){
            margin-left: 3rem;
            @media screen and (max-width: 1059px) {
                margin-left: .5rem;
            }
        }
        &:nth-child(3){
            margin-right: 3rem;
            @media screen and (max-width: 1059px) {
                margin-right: .5rem;
            }
        }
        &:nth-child(4){
            margin-left: 3rem;
            @media screen and (max-width: 1059px) {
                margin-left: .5rem;
            }
        }
        margin-bottom: 5rem;
        img{
            width: 45rem;
            height: 25rem;

            @media screen and (max-width: 550px) {
               width: 30rem;
               height: 15rem;
            }
        }
        h4{
            font-size: calc(1.4rem + 1vw);
            margin-top: 1rem;
            margin-left: 1rem;
            font-family: sans-serif;
            letter-spacing: 1.3px;
            font-weight: 300;
        }
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;
        }
        p{
            font-size: calc(1rem + 1vw);
            margin: 2rem 0;
        }

    }

    .btn{
        text-align: center;
    }

    &__btn{
        text-decoration: none;
        color: white;
        padding: 1.8rem 3rem;
        background-color: black;
        font-size: 2rem;
        margin-top: 2rem;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        @media screen and (max-width: 1024px) {
            padding: 1.5rem 3rem;
            font-size: 1.8rem;
         }
        &:hover{
            background-color: white;
            color: black;
            border: 1px solid black;
        }
    }

}
// ----------------------------------------- Section Gallery
.section-gallery{
    padding: 5rem 0;

    // .container{
    //     justify-content: flex-start;
    // }

    img{
        width: 37.9rem;
        height: 25rem;
        
        &:hover{
            filter: brightness(.5);
            transition: all .5s ease-in-out;
        }

        @media screen and (max-width: 390px) {
            width: 25rem;
            height: 20rem;
        }
    }
    .image-box{
        position: relative;
        padding: 0;
    }
    i{
        position: absolute;
        font-size: 5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        color: white;
       opacity: 0;
    }
    img:hover + i{
        opacity: 1;
    }
}

// ----------------------------------------- Section Form
.form{

    &__content{
        display: flex;
        justify-content: center;
        padding: 20rem 0;
        input{
            width: 40%;
            height: 5rem;
            font-size: calc(.5rem + 1vw);
            padding-left: 2rem;
            font-family:'Raleway', sans-serif;
        }
        a{
            font-size: calc(.5rem + 1vw);
            text-decoration: none;
            color: black;
            border: 1px solid black;
            padding: 1.2rem 2.5rem;
            text-transform: uppercase;
        }
    }
}
// ----------------------------------------- Footer
.footer{
    padding: 5rem 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__list{
        padding: 2rem 0;
        list-style: none;
        &--item{
            float: left;
            a{
                text-decoration: none;
                color: white;
                padding: 1rem;
                font-size: calc(1.5rem + 1vw);

            }
        }
    }
    &__social{
        font-size: calc(2rem + 1vw);
        padding: 2rem 0;
        cursor: pointer;
        i{
            padding: 1rem;
        }
    }
    &__copyright{
        padding: 2rem 0;
        h4{
            font-size: calc(1rem + 1vw);
            letter-spacing: 5px !important;
            word-spacing: 2px;
            @media screen and (max-width: 421px) {
                margin-left: 2rem;
            }
        }
    }
}